/* ABOUT ME */
.about {
    width: 100%;
    height: 900px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rayita-aboutme {
    color: yellow;
}

.caja {
    /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: wrap;
}

.about2 {
    /* width: 500px;
    height: 400px; */
    width: 40%;
    height: 400px;
    margin: 20px 5px 20px 5px;
    box-sizing: border-box;

}

.about3 {
    height: 400px;
    width: 40%;
    box-sizing: border-box;
    padding: 40px 0px 20px 0px;
    /* margin: 0% 6% 0% 0% ; */
}

@media screen and (max-width:1400px){
    .about2, .about3{
        width:40%;
    }
}

@media screen and (max-width:1000px){
    .about2, .about3{
        width:60%;
    }
}

@media screen and (max-width:800px){
    .about2, .about3{
        width:70%;
    }
}

@media screen and (max-width:600px){
    .about2, .about3{
        width:90%;
    }
}

.foto2 {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

/* .foto2:hover{
    transform: translateY(-50px);
    width: 500px;
    height: 350px;
    transition: 1.5s;
} */

.about3 h1 {
    color: white;
    font-family: Verdana;
    font-size: 50px;
}

.boton1 {
    background-color: orange;
    border: 2px solid orange; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.boton2 {
    background-color: black;
    border: 2px solid orange; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}