/* ABOUT ME */
.about {
    width: 100%;
    height: 650px;
    /* background-color: blue; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Aumentar la altura de la seccion about en mobil */
@media screen and (max-width:500px){
    .about{
    height: 900px;
    }
}

/* Titulo */
.About-me{
    font-size: 35px;
    margin-top: 0px;
}

.rayita-aboutme{
    margin-top: 6px;
    display: flex;
    justify-content: start;
    color: yellow;
}

.rayita-aboutme{
    margin-top: -10px;
    display: flex;
    justify-content: start;
    color: yellow;
}

.caja {
        /* background-color: violet; */
        width: 87%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: wrap;
}
/* Ajustar el contenido al 100% en movil*/
@media screen and (max-width:500px){
    .caja{
        width: 100%;
    }
}

.about2 {
    width: 40%;
    height: auto;
    margin: 60px 30px 60px 5px;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}

.about3 {
    height: 400px;
    margin: 0px 0px 0px -60px;
    box-sizing: border-box;
    color: white;
    font-family: Verdana;
    /* background-color: orangered; */
}
/* Ajustar el margen en la seccion about2 en mobiles */
@media screen and (max-width:500px){
    .about3{
        /* background-color: yellow; */
        margin: 0px 0px -30px 0px;
        padding: 0px;
    }
}
/* Ajustar el margen en la seccion about2 en mobiles */
@media screen and (max-width:500px){
    .about2{
        margin: -90px 0px 10px 0px;
    }
}

@media screen and (max-width:1400px){
    .about2, .about3{
        width:40%;
    }
}

@media screen and (max-width:1000px){
    .about2, .about3{
        width:60%;
    }
}

@media screen and (max-width:800px){
    .about2, .about3{
        width:70%;
    }
}

@media screen and (max-width:600px){
    .about2, .about3{
        width:90%;
    }
}

.foto2 {
    
    width: 100%;
    height: 100%;
    /* border-radius: 100%; */
}

/* .foto2:hover{
    transform: translateY(-50px);
    width: 500px;
    height: 350px;
    transition: 1.5s;
} */

/* Nombre */
.about-nombre{
    font-size: 20px;
}
/* Informacion */
.about-info{
    /* background-color: yellow; */
    font-size: 14px;
    margin: 10px 0px -10px 0px;
}

/* Agregando estilo a la lista desordenada */
.About-ul{
    width: 100%;
    height: auto;
    column-count: 2;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: -10px;
    /* background-color: yellow; */
}
/* Ajustamos el margen de la seccion de botones */
@media screen and (max-width:600px){
    .About-ul{
        margin-bottom: 0px;
    }
}


.About-ul2, .About-ul3{
    list-style: none;
}

li{
    color: #FFFFFF95;
    margin-bottom: 15px;
    font-size: 14px;

}

.boton1 {
    
    width: 130px;
    background-color: orange;
    border: 1px solid orange; /* Green */
    border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5%;
    line-height: 35px;
}

.boton2 {
    width: 145px;
    background-color: black;
    border: 1px solid white; /* Green */
    border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
}

