/* ABOUT ME */
.about {
    width: 100%;
    height: 110vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /* Mandamos atras el about en la capa 3 */

    background: linear-gradient(rgba(5, 7, 12, 0.623) , rgba(5, 7, 12, 0.616)),
    url(../images/fondo7.jpg) no-repeat center center;
    min-height: 110vh;
    background-size: cover; /*cover; redimensiona la imagen para aseugrar que ocupa el máximo de pantalla posible. */
    margin-top: 20%;
}

/* Aumentar la altura de la seccion about en mobil */
@media screen and (max-width:500px){
    .about{
    height: 900px;
    }
}

/* Filtro top y bottom de efecto desvanecimiento*/
.filtro-about{
    height: 110vh;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 208, 250, 0) 15%, rgba(64, 192, 218, 0) 85%, rgba(0,0,0,1) 100%);
}

/* Titulo */
.About-me{
    font-size: 35px;
    margin-top: 0px;
}

.rayita-aboutme{
    margin-top: 6px;
    display: flex;
    color: yellow;
}

.rayita-aboutme{
    margin-top: -10px;
    display: flex;
    color: yellow;
}

.caja {
        /* background-color: rgb(14, 14, 15); */
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;

    padding-top: 5%;        
}
/* Ajustar el contenido al 100% en movil*/
@media screen and (max-width:500px){
    .caja{
        width: 100%;
        padding-top: 45%;        
    }
}

.about2 {
    width: 40%;
    height: auto;
    margin: 60px 30px 60px 5px;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}

.about3 {
    height: 400px;
    margin: 0px 0px 0px -60px;
    box-sizing: border-box;
    color: white;
    font-family: Verdana;
    /* background-color: orangered; */
}
/* Ajustar el margen en la seccion about2 en mobiles */
@media screen and (max-width:500px){
    .about3{
        /* background-color: yellow; */
        margin: 0px 0px -30px 0px;
        padding: 0px;
    }
}
/* Ajustar el margen en la seccion about2 en mobiles */
@media screen and (max-width:500px){
    .about2{
        margin: -90px 0px 10px 0px;
    }
}

@media screen and (max-width:1920px){
    .about2, .about3{
        width:40%;
    }
}

@media screen and (max-width:1000px){
    .about2, .about3{
        width:60%;
    }
}

@media screen and (max-width:800px){
    .about2, .about3{
        width:70%;
    }
}

@media screen and (max-width:600px){
    .about2, .about3{
        width:90%;
    }
}

.foto2 {
    width: 90%;
    height: 90%;
    border-radius: 100%;
}

/* Nombre */
.about-nombre{
    font-size: 20px;
}
/* Informacion */
.about-info{
    /* background-color: yellow; */
    font-size: 14px;
    margin: 10px 0px -10px 0px;
    color: rgba(255, 255, 255, 0.822);
}

/* Agregando estilo a la lista desordenada */
.About-ul{
    width: 100%;
    height: auto;
    column-count: 2;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: -10px;
    /* background-color: yellow; */
}
/* Ajustamos el margen de la seccion de botones */
@media screen and (max-width:600px){
    .About-ul{
        margin-bottom: 0px;
    }
}


.About-ul2, .About-ul3{
    list-style: none;
}

li{
    color: #FFFFFF95;
    margin-bottom: 15px;
    font-size: 14px;

}

.boton1 {
    
    width: 130px;
    background-color: orange;
    border: 1px solid orange; /* Green */
    border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5%;
    line-height: 35px;
}

.boton2 {
    width: 145px;
    background-color: black;
    border: 1px solid white; /* Green */
    border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
}

