body{
  width: 100%;
  height: 720px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav{
  height: 60px;
  background: #34495e;
}

nav .ul-nav{
  float: right;
  margin-right: 25px;
}

nav .ul-nav .li-nav{
  display: inline-block;
  line-height: 60px;
  margin: 0 15px;
}

nav .ul-nav .li-nav a{
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px;
  text-transform: uppercase
  ;
}

nav .ul-nav .li-nav a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear ;
}

nav .ul-nav .li-nav a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 60px;
  /* Para ajustar el margen del boton */
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 944px) {
  nav .ul-nav .li-nav a{
    font-size: 17px;
  }
}

@media (max-width: 860px) {
  label #btn{
    display: block;
  }
  .ul-nav{
    position: fixed;
    width: 412px;
    height: 100vh;
    background: #34495e;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    padding-top: 100px;

  }
  nav .ul-nav .li-nav{
    display: block;
    margin: 75px 0;
    line-height: 0px;
  }
  nav .ul-nav .li-nav a{
    font-size: 20px;
  }
  #check:checked ~ .ul-nav{
    left: 0;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
}