
/* NavBar */
.topnav {
    background-color: rgb(21, 21, 78);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 50px 70px 0px 0px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 17px;
  }