html{
  /* No funciona con safari ni internet explorer  */
  scroll-behavior: smooth;
}

nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  /* background-color: rgba(39, 36, 36, 0.6); */
  /* border-bottom: 1px solid #fff; */
}

nav .logo{
  padding: 21px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

section{
  width: 100%;
  height: 100vh;
  background: url(../images/fondo5.jpg);
  background-size: cover; /*cover; redimensiona la imagen para aseugrar que ocupa el máximo de pantalla posible. */
  background-position: center;
  background-attachment: fixed; /*Mantener fijo el fondo*/
}