/* PROYEDTOS REALIZADOS */
.main {
    /* background-color: black; */
    width: 100%;
    height: auto;
    background-color: rgb(0, 4, 14);
    padding-top: 0;
}
.titulo {
    text-align: center;
    color: white;
    font-weight: 900;
    padding-top: 5%;
}

.u {
    color: yellow;
    text-align: center;
}

.parrafo {
    color: white;
    padding: 5px 0px 0px 0px;
    text-align: center;
}
.proyectos {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    width: 90%;
    margin: 0 auto;
    padding:30px;
}

.proyecto {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 17px;

    background-color: rgb(6, 11, 87);
}

@media screen and (max-width:420px){
    .proyectos{
        width: 98%;
        margin-left: 1px;
        margin-right: 1px;
        /* background-color: peru; */
    }
}

/* Samsung Galaxy a51-71 responsive */
@media screen and (max-width:420px){
    .proyecto{
        width: 100%;
        margin: 0px 0px 10px 0px;
    }
}

/* Iphone 12 pro responsive */
@media screen and (max-width:390px){
    .proyecto{
        width: 95%;
        margin-left: -15px;
    }
}