.main-skill{
    width: 100%;
    height:110vh;
    background-color: rgb(0, 4, 18);

    background: linear-gradient(rgba(5, 7, 12, 0.459) , rgba(5, 7, 12, 0.616)),
    url(../images/fondo8.jpg) no-repeat center center;
    background-size: cover; /*cover; redimensiona la imagen para aseugrar que ocupa el máximo de pantalla posible. */
    margin-top: 20%;
}

/* filtro top y bottom efecto desvanecimiento */
.filtro-skills{
    height: 110vh;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 208, 250, 0) 15%, rgba(0, 213, 255, 0) 85%, rgba(0,0,0,1) 100%);
}

.title-skill{
    text-align: center;
    color: white;
    font-weight: 900;
    padding-top: 5%;
}

.Skills-body{
    /* ancho y altura automatica */
    width: 100%;
    /* centrando el contenido */
    margin: 5% 0% 15% 0%;
    display: flex;
    align-items: center;

}

/* Disminuir el margen de los skills */
@media screen and (max-width:500px){
    .Skills-body{
    height: auto;
    }
}

/* Añadimos un margen-top en movil */
@media screen and (max-width:500px){
    .caja-skill{
    margin-top: 20px;
    }
}

.caja-skill{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    color: white;
}

.info-skill1{
    /* text-align: center; */
    font-size: 14px;

}

.body-h1 {
    text-align: center;
    color: white;
}

.rayita{
    margin-top: -16px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    color: yellow;
    padding-bottom: 5%;
}

/* .body-h3 {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.89);
} */

.title-skills{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 5px 0px;
    font-size: 13px;
}

/* Disminuir el margen de los skills */
@media screen and (max-width:500px){
    .title-skills{
    margin: 25px 0px 0px 0px;
    }
}

.left-p{
    text-align: left;
    margin-bottom: 3px;
}

.right-html{
    text-align: right;
    margin-right: 10%;
}

.right-css{
    text-align: right;
    margin-right: 50%;
}

.right-js{
    text-align: right;
    margin-right: 65%;
}

.right-python{
    text-align: right;
    margin-right: 60%;
}

.right-react{
    text-align: right;
    margin-right: 55%;
}

.right-node{
    text-align: right;
    margin-right: 70%;
}
.Skills {
    width: 40%;
    height: 400px;
    box-sizing: border-box;
    margin: 0px 5px 0px 5px;
    /* padding: 40px; */
    /* background-color: tomato; */
}

.skill-foto{
    width: 40%;
    height: 400px;
    box-sizing: border-box;
    /* background-color: yellow; */

}

@media screen and (max-width:500px){
    .skill-foto{
    margin: 0px 0px 0px 0px;
    }   
}

/* Agregando estilo a la lista desordenada */
.Skill-ul{
    width: 70%;
    height: auto;
    column-count: 2;
    /* background-color: yellow; */
    margin-top: -10px;
    list-style: square inside;
}

/* Disminuendo el tamaño de los social skill */
@media screen and (max-width:500px){
    .Skill-ul{
        width: 100%;
        margin-top: -20px;
        margin-left: 0px;
    }   
}

.Skill-ul2, .Skill-ul3{
    list-style: square inside;
}

li{
    color: #ffffffce;
    margin-bottom: 15px;
    font-size: 14px;

}


/* Responsive de la pagina en general */
@media screen and (max-width:1400px){
    .Skills, .skill-foto{
        width:40%;
    }
}

@media screen and (max-width:1000px){
    .Skills, .skill-foto{
        width:60%;
    }
}

@media screen and (max-width:800px){
    .Skills, .skill-foto{
        width:70%;
    }
}

@media screen and (max-width:600px){
    .Skills, .skill-foto{
        width:90%;
    margin: 0px 5px 20px 5px;
    }
}

@media screen and (max-width:600px){
    .skill-foto{
    margin-top: 3%;
    }
}

.bar1, .bar2, .bar3, .bar4, .bar5, .bar6{
    background: #222121;
    display: block;
    overflow: hidden;
}

.bar1 span{
    height: 5px;
    float: left;
    background: rgb(255, 187, 0);
    border-radius: 5px;
}

.bar2 span{
    height: 5px;
    float: left;
    background: rgb(6, 31, 255);
    border-radius: 5px;
}

.bar3 span{
    height: 5px;
    float: left;
    background: rgb(255, 0, 76);
    border-radius: 5px;
}

.bar4 span{
    height: 5px;
    float: left;
    background: yellow;
    border-radius: 5px;
}

.bar5 span{
    height: 5px;
    float: left;
    background: rgb(0, 225, 255);
    border-radius: 5px;
}

.bar6 span{
    height: 5px;
    float: left;
    background: rgb(67, 211, 0);
    border-radius: 5px;
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 50%;
    animation: css 3s;
}

.python{
    width: 40%;
    animation: php 3s;
}

.javascript{
    width: 35%;
    animation: javascript 3s;
}

.react{
    width: 45%;
    animation: php 3s;
}

.node{
    width: 30%;
    animation: php 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}