*{
    list-style: none;
    padding: 0;
    margin: 0;
}

.body-skill{
    background: rgb(51, 24, 70);
}

.body-h1 {
    text-align: center;
    color: white;
}

.rayita{
    justify-content: center;
    display: flex;
    text-align: center;
    color: yellow;
}

.body-h3 {
    margin: 5px;
}

.skills {
    width: 500px;
    margin: 60px auto;/* este en medio */
    color: #fff;
    padding: 15%;
    /* background-color: rgb(0, 4, 255); */
}

.bar1, .bar2, .bar3, .bar4{
    background: #131212;
    display: block;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.bar1 span{
    height: 20px;
    float: left;
    background: rgb(255, 187, 0);
    border-radius: 10px;
}

.bar2 span{
    height: 20px;
    float: left;
    background: rgb(0, 174, 255);
    border-radius: 10px;
}

.bar3 span{
    height: 20px;
    float: left;
    background: rgb(255, 0, 76);
    border-radius: 10px;
}

.bar4 span{
    height: 20px;
    float: left;
    background: yellow;
    border-radius: 10px;
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

.php{
    width: 45%;
    animation: php 3s;
}

.javascript{
    width: 60%;
    animation: javascript 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}